.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;


    grid-template-areas:
"h h"
"n c";

    grid-auto-rows: 60px 1fr;
    grid-auto-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: h;
    background-color: bisque;
}

.header img {
    width: 60px;
}

.nav {
    grid-area: n;
    /*float: left;*/
    background-color: coral;
}

.content {
    grid-area: c;
    background-color: darkcyan;
}