.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .dialog {
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dialogItems .active {
    color: orange;
}

.messages {
    padding: 10px;
}

.messages .message {
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}